form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
        align-self: flex-start;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid 1px #ccc;
    border-radius: 12px;
    padding: 24px;
}

.form-array {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid 1px #aaa;
    border-radius: 12px;
    padding: 24px;
}