<h2> Create </h2>


<form [formGroup]="form">
    <!-- [isChecked]="true" (onToggle)="toggleChb($event)"  -->
    <div class="form-item">
        CHB
        <app-chb formControlName="chb"></app-chb>
    </div>
    <div class="form-item">
        <label> Name </label>
        <input type="text" pInputText formControlName="name" />
    </div>

    <label>
        <p-checkbox [binary]="true" formControlName="isInputAgeDisabled"></p-checkbox>
        <span> Запретить ввод возраста </span>
    </label>

    <div class="form-item">
        <label> Age </label>
        <p-inputNumber inputId="integeronly" formControlName="age"></p-inputNumber>
    </div>

    <div formGroupName="params" class="form-group">
        <div class="form-item">
            <label> Size </label>
            <p-inputNumber inputId="integeronly" formControlName="size"></p-inputNumber>
        </div>
        <div class="form-item">
            <label> Width </label>
            <p-inputNumber inputId="integeronly" formControlName="width"></p-inputNumber>
        </div>
    </div>

    <div formArrayName="products" class="form-array">
        <h4>
            Products {{qwerty$ |async}}
            <button pButton type="button" icon="pi pi-plus" class="p-button-text" (click)="append()"> </button>
        </h4>

        <div *ngFor="let product of productFormArray; let index = index" [formGroupName]="index" class="form-group">
            <button pButton type="button" icon="pi pi-trash" class="p-button-text" (click)="remove(index)"> </button>

            <div class="form-item">
                <label> Name </label>
                <input type="text" pInputText formControlName="name" />
            </div>

            <div class="form-item">
                <label> Price </label>
                <p-inputNumber inputId="integeronly" formControlName="price"></p-inputNumber>
            </div>
        </div>
    </div>

    <button pButton type="button" [disabled]="form.invalid" (click)="submit()"> Save </button>
</form>